form {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5vh;
  background-color: rgba(236, 236, 236, 0.3);
  border-radius: 10px;
}
form > ul > li {
  margin-top: 5px !important;
  text-align: center !important;
  display: block !important;
}
.dropdown {
  min-width: 150px !important;
}
